.section {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 160%;
  font-size: 2rem;

  .headline {
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    font-size: 4rem;
    margin-top: 3rem;
    line-height: 110%;
  }

  @media screen and (min-width: $small) {
    font-size: 1.8rem;
  }
}
