html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $color-text;
  background-color: $color-background;
  font-family: $font-main;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: $font-weight-normal;
  line-height: 160%;
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
}
