// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600,700');
$font-main: 'Raleway', Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-heavy: 700;

// Colors
$color-main: #CF4647;
$color-secondary: #3A3E64;
$color-alt: #000;
$color-background: #fff;
$color-text: #000;

// Media queries
$small: 600px;
$medium: 900px;
$large: 1200px;

// Global
$container-width: 80%;
$container-max-width: 1200px;
